{% extends "base.html" %}

{% block main_content %}
<main>
    <article class="photo-album">
        <h1 class="no-prefix">{{ page.title }}</h1>
        <time>{{ page.date | date(format="%B %Y") }}</time>

        
        {% if page.content %}
            <div class="album-content">
                {{ page.content | safe }}
            </div>
        {% endif %}

        {% if page.extra.images %}
        <div class="photo-grid">
            {% for image in page.extra.images %}
                <figure class="photo-item">
                    <img src="{{ image.src }}" alt="{{ image.alt }}">
                    {% if image.caption %}
                        <figcaption>{{ image.caption }}</figcaption>
                    {% endif %}
                </figure>
            {% endfor %}
        </div>
    {% endif %}
</article>
</main>
{% endblock main_content %}