<style>

  /* light mode colors */
  body {
    --primary-color: #5871a2;
    --primary-pale-color: #5871a210;
    --text-color: #3C4043;
    --text-pale-color: #a3a5a9;
    --bg-color: #ffffff;
    --highlight-mark-color: #5f75b035;
    --blockquote-color: #8e8d91;

    --callout-note-color: #5871a2;
    --callout-important-color: #8062b0;
    --callout-warning-color: #936e51;
    --callout-alert-color: #bc5252;
    --callout-question-color: #477389;
    --callout-tip-color: #3c8460;
  }

  /* dark mode colors */
  body.dark {
    --primary-color: #5d77ac;
    --primary-pale-color: #5d77ac20;
    --text-color: #9197a5;
    --text-pale-color: #656a74;
    --bg-color: #18191b;
    --highlight-mark-color: #5f75b035;
    --blockquote-color: #747983;

    --callout-note-color: #5d77ac;
    --callout-important-color: #8062b0;
    --callout-warning-color: #936e51;
    --callout-alert-color: #bc5252;
    --callout-question-color: #477389;
    --callout-tip-color: #3c8460;
  }

  /* typography */
/* typography */
:root {
  /* Font family variables */
  --heading-font: 'Plush', serif;
  --body-font: 'Plush', serif;
  --code-font: 'IBM Plex Mono', monospace;
  --nav-font: 'Plush', serif;
  --meta-font: 'Plush', serif;
  
  /* Font sizes */
  --homepage-font-size: 16px;
  --heading-font-size: 1.2rem;
  --body-font-size: 16px;
  --code-font-size: 15px;
  --meta-font-size: 15px;
  
  /* Line heights */
  --homepage-line-height: 1.75;
  --body-line-height: 1.6;
  --code-line-height: 1.4;
  
  /* Other typography settings */
  --main-max-width: 768px;
  --avatar-size: 56px;
  --img-border-radius: 0px;
  --detail-border-radius: 0px;
  --inline-code-border-radius: 2px;
  --block-code-border-radius: 0px;
  --block-code-border-color: var(--primary-color);
  --detail-border-color: var(--primary-color);
}

</style>
